.myaccount-content .title {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #222222;
    border-bottom: 1px dashed #efefef;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
    text-align: left;
}

/* Dashboard */

.myaccount-content .welcome strong {
    font-weight: 600;
    color: #00c4cc;
}

p:last-child {
    margin-bottom: 0;
}

.myaccount-content .welcome a {
    color: #222222;
    text-decoration: none;
}
.welcome p {
    font-size: 1.1rem;
}
.tab-content {
    text-align: left;
}

.myaccount-content .welcome a:hover {
    color: #00c4cc;
    cursor: pointer;
}

/* Orders */

.myaccount-table {
    white-space: nowrap;
    font-size: 14px;
}

.table-bordered> :not(caption)>* {
    border-width: 1px 0;
}

.table> :not(:last-child)> :last-child>* {
    border-bottom-color: currentColor;
}

.myaccount-table table th,
.myaccount-table .table th {
    color: #222222;
    padding: 10px;
    font-weight: 500;
    background-color: #f8f8f8;
    border-color: #efefef;
    border-bottom: 0;
}

.table-bordered> :not(caption)>*>* {
    border-width: 0 1px;
}

.table>tbody {
    vertical-align: inherit;
}

.table-bordered> :not(caption)>* {
    border-width: 1px 0;
}

.myaccount-table table td,
.myaccount-table .table td {
    padding: 10px;
    vertical-align: middle;
    border-color: #efefef;
}

.btn-dark {
    border-color: #222222;
    background-color: #222222;
    color: #ffffff;
}

.btn {
    font-size: 15px;
    padding: 14px 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    line-height: 1;
    box-shadow: none;
}

.btn-hover-primary:hover {
    border-color: #00c4cc;
    background-color: #00c4cc;
    color: #ffffff;
}

.table-bordered> :not(caption)>*>* {
    border-width: 0px 1px;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

/* Account Details, Change Password */

.myaccount-content form {
    margin-top: -20px;
}

.myaccount-content form .single-input-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.myaccount-content form .single-input-item .required, .required {
    font-weight: 500;
}

.myaccount-content form .single-input-item input, .single-input-item input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #efefef;
    font-size: 14px;
}

.myaccount-content form .single-input-item input:focus, .single-input-item input:focus {
    border: 1px solid #00c4cc;
}

.myaccount-content form .single-item-button {
    width: 25%;
}

/* --Fieldset */

.myaccount-content fieldset {
    margin-top: 20px;
}

.myaccount-content fieldset legend {
    color: #222222;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    border-bottom: 1px dashed #efefef;
}
.img_user {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img_user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: block;
}
.change-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.change-avatar input {
    display: none;
}
.icon_upload {
    width: 30px;
    height: 30px;
}
.change-avatar label {
    padding: 54px;
    cursor: pointer;
}
.img_user:hover {
    opacity: 0.6;
}
.img_user:hover .change-avatar {
    visibility: visible;
    opacity: 1;
}
.btn-primary {
    margin: 0 auto;
    display: block;
}

.errors {
    font-size: 14px;
    margin: 5px 0 0 10px; 
    color: rgb(240, 13, 13);
    text-align: left;
    font-weight: bold;
}
.form-group--error {
    border-color: #c80000!important;
}