/*  */
.banners {
    margin-top: 80px;
    margin-bottom: 80px;
}

.banner {
    position: relative;
    display: block;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 200px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.banner:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}