.section-title h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    color: #222222;
    margin-bottom: 10px;
}
.sub-title {
    font-size: 1.1rem;
}
.section-padding {
    padding-top: 30px;
}

.section-title {
    margin-bottom: 40px;
}

.single-blog .blog-thumb a {
    position: relative;
    display: block;
    overflow: hidden;
}

.single-blog .blog-thumb a img {
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.fit-image {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-slide {
    margin-right: 20px;
}

.single-blog .blog-content .blog-meta {
    margin: 30px 0 20px;
}

.single-blog .blog-content .blog-meta p {
    font-size: 14px;
    line-height: 1;
    color: #555555;
    text-transform: uppercase;
}

.single-blog .blog-content .blog-title {
    font-weight: 700;
    margin-bottom: 0;
}

.single-blog .blog-content .blog-title a {
    color: #222222;
    text-decoration: none;
    font-size: 24px;
}

.latest-blog-carousel {
    text-align: left;
}

.single-blog .blog-content .blog-title a:hover {
    color: #00c4cc;
}