.collection__wrapper {
  padding: 40px 0 80px;
  background-color: #f5f5f5;
}

p:last-child {
  margin-bottom: 0;
}

.section-title {
  margin-bottom: 40px;
}
.section-title p {
  font-size: 1.1rem;
}
.section-title h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  color: #222222;
  margin-top: -5px;
}
.arrow-outside-container {
  margin-right: -50px;
  margin-left: -50px;
  padding: 0 50px;
}

.swiper {
  height: 375px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  height: 200px;
}

.title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-container hr {
  width: 100%;
}

.title {
  flex-shrink: 0;
}

.product .thumb .image {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 265px;
  cursor: pointer;
}

.product .thumb .image img {
  z-index: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 100%;
}

.product:hover .thumb .image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.fit-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
