.testimonial-bg {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(https://template.hasthemes.com/toyqo/toyqo/assets/images/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.testimonial-carousel img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.sub-title {
    font-size: 1rem;
}
.section-title {
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    color: #222222;
    margin-top: -5px;
}

p:last-child {
    margin-bottom: 0;
}

.text-white {
    color: #ffffff !important;
}

.testimonial-carousel {
    width: 290px;
    margin: 0 auto;
    padding: 10px 0;
}

.testimonial-carousel img {
    width: 100%;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
}


/* .testimonial-carousel img:active {
    transform: scale(1.2)
} */

.testimonial-author {
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.testimonials__ratings-icon {
    overflow: hidden;
    color: #FF9806;
}

.testimonial-content {
    width: 910px;
    margin: 20px auto 0;
}
.rating-num {
    font-size: 12px;
}
.testimonial-content p {
    color: #ffffff;
    font-size: 1rem;
}

.swiper-slide-active img {
    transform: scale(1.1);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-color: #FFF!important;
}