.bg-info {
  background-color: #fff !important;
}

.nav__img {
  width: 100%;
}

.nav__li {
  list-style: none;
}
.icon__header {
  width: 25px;
  height: 25px;
}
.nav__link {
  text-decoration: none;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #222222;
  font-weight: bold;
}

.nav__icon {
  color: #000;
  padding: 10px 20px;
  z-index: 1;
  position: relative;
}

.user {
  position: relative;
}

/* Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.nav__link:hover,
.nav__icon:hover {
  color: #00c4cc!important;
  transition: all 0.2s ease;
}

.router-link-exact-active {
  color: #00c4cc;
}
.nav__icon span {
  position: absolute;
  background-color: #ff0202;
  padding: 0px 6px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
  top: 3px;
  bottom: auto;
  left: auto;
  right: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}