.content_categories {
  margin: 40px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 40%);
  border-radius: 10px;
  overflow: hidden;
}
.content_categories .v-toolbar__title {
  font-size: 1.9rem;
  font-weight: bold;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 40px;
  min-width: 70px;
  padding: 0px 20px;
}
.icon__add {
  width: 25px;
  height: 25px;
}
#image-file {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.upload_des {
  display: inline-block;
  margin-bottom: 0 !important;
  background-color: #62ab00;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  font-weight: 600;
}
.upload_des:hover {
  background-color: #333;
}
p.text_name_image {
  margin-bottom: 0 !important;
  color: #62ab00;
  font-weight: 600;
  font-size: 16px;
  margin-right: 40px;
}
.v-application .primary--text {
  color: #62ab00 !important;
  caret-color: #62ab00 !important;
}
.icon__upload {
  font-size: 30px !important;
  color: #62ab00 !important;
}
.cancel__btn {
  padding: 15px !important;
  background-color: #f5f5f5;
}
.save__btn {
  padding: 15px 30px !important;
  background-color: #62ab00;
  color: #fff !important;
}

.save__btn:hover,
.btn__add:hover {
  background-color: #333 !important;
  transition: all 0.3s ease-in-out;
}
.btn__add {
  background-color: #62ab00 !important;
  transition: all 0.3s ease;
  padding: 0px 25px !important;
}
.icon__info {
  font-size: 14px;
  margin-left: 9px;
  color: #353535;
  cursor: pointer;
}
.category__detail {
  margin: 30px 40px 20px;
  padding: 0 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
}
.main__title {
  font-weight: bold;
  font-size: 2rem;
  padding: 20px 0;
  color: #62ab00;
  text-shadow: 2px 1px 1px #000;
}
.cate__img img {
  width: 250px;
  height: auto;
  display: block;
  border-radius: 10px;
}
h4.cate-detail-title {
  color: #000;
  padding-bottom: 20px;
  font-weight: 600;
}
.nav__cate li:not(:last-child) {
  margin-bottom: 15px;
}
.nav__cate li {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
.nav__cate li strong {
  font-size: 17px;
    color: #62ab00;
    margin-left: 10px;
}
.btn-primary {
  display: block;
  padding: 10px 30px;
  margin: 20px 0;
  font-size: 1.1rem;
  color: #FFF;
  background-color: #62ab00;
  border-color: #62ab00;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: #333;
  border-color: #333;
}
.active-admin {
  display: none!important;
}
